a.nav-link {
    font-size: 1.2vw;
    margin-left: 45%;
    margin-right: 20%;
}

.navbar-light .navbar-nav .nav-link {
    color: #FDFFFC!important;
}

.navbar {
    background-color:#112351 ;
}
